# Python
.pytest_cache/
__pycache__/
*.pyc

# Virtual environments
.venv/
backend/.venv/

# Backend
backend/.env
backend/chroma_data/

# Frontend
frontend/node_modules/
frontend/dist/

# Root
node_modules/
dist/